.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}
.product {
    display: flex;
    flex-direction: column;
    background: #fff;
}
.product-img {
    text-align: center;
}
.product-img img {
    width: 50%;
    margin: auto;
}